services:
  siga:
    image: siga
    container_name: siga
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    environment:
      - NODE_ENV=production
    ports:
      - '3009:3009'
    restart: always
    networks:
      - dockers
    # volumes:
    #   - .:/app
    command: npm start

networks:
  dockers:
    external: true
    name: dockers
